.main-container {
    height: 100vh;
}

.navbar {
    background-color: #b8860b !important; // Deep yellow (dark goldenrod)
    box-shadow: 0.2em 0.2em 1em rgba(255, 255, 255, 0.3);
}

.navbar-brand{
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar-brand:hover{
    color: #0DCAF0;
}

.nav-link {
    // margin-right: 0.5em;
    font-size: 1.2rem;
    color: #fff;
}
.nav-link:hover{
    color: #0DCAF0;
}

.btn{
    margin-left: 0.5rem;
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    box-shadow: 0.2em 0.2em 1em rgba(255, 255, 255, 0.3);
    margin-top: auto;
    background-color: #171717;
    color: #fff;
    padding: 1.5rem;
    a {
        margin: 0 10px;
        color: #fff;
    }
    a:hover{
        color: #0DCAF0;
    }
    .btn-link {
        background: none;
        border: none;
        padding: 0;
        margin: 0 10px;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }
    .btn-link:hover{
        color: #0DCAF0;
    }
    p:hover{
        color: #0DCAF0;
    }
}